<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Code TOTP</title>
    <link rel="stylesheet" href="/static/css/styles_user_page.css">
    <script src="/static/js/reload_totp.js"></script>
</head>
<body>
    <header>
        <img src="/static/img/SecureHub.png" alt="Logo SecureHub" class="logo">
    </header>
    <h2>Bienvenue, {{ username }} (Utilisateur)</h2>
    <p>Voici votre code TOTP :</p>
    <h1 id="totp-code">{{ totp_code }}</h1>
    <p>Ce code est valable 30 secondes.</p>

    <h3>Configurer TOTP</h3>
    <p>Scannez ce QR code avec une application comme Google Authenticator ou Okta pour avoir son code TOTP sur mobile.</p>
    <img src="/qr-code" alt="QR Code pour TOTP" style="width: 300px; height: 300px;">
    <br>
    <a href="/logout">Déconnexion</a>
</body>
</html>
